@charset "utf-8";

#changeArea{
	height: 100px;
	margin: 0 auto;
	padding: 5px;
	background-color: #eee;
	border: 1px solid #666666;
	text-align: center;
}
ul, li{
	list-style: none;
}
ul{
	width: 550px;
	margin: 0 auto;
	padding-top: 10px;
}
ul li{
	width: 98px;
	height: 98px;
	border: 1px solid #ccc;
	background-color: #ffd6aa;
	float: left;
	margin-left: 5px;
	font-size: 10px;
	text-align: center;
	line-height: 100px;
	cursor: pointer;
}